# string hacks so that the snippet is parsed correctly
snippet snip "snippet" b
`!p snip.rv = "snippet"` ${1:trigger} "${2:description}" ${3:b}
${0:${VISUAL}}
`!p snip.rv = "endsnippet"`
endsnippet

snippet vis "Global snippet" b
`!p snip.rv = "global"` !p
${0:${VISUAL}}
`!p snip.rv = "endglobal"`
endsnippet

snippet vis "${VISUAL}" i
\$\{VISUAL${1:${2:default}${3:/transform/}}\}
endsnippet

# vim:ft=snippets:
