snippet sel "select (columns:*) from table"
select ${2:*} from ${1} $0
endsnippet

snippet selfun "select function definition" b
select pg_get_functiondef('${1:aspire.function_name}' :: regproc)$0
endsnippet

snippet selmats "list materialized views" b
select oid::regclass::text from pg_class where relkind = 'm'
endsnippet

# vim:ft=snippets:
