[submodule "external/zsh-syntax-highlighting"]
	path = external/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "external/zsh-you-should-use"]
	path = external/zsh-you-should-use
	url = git@github.com:MichaelAquilina/zsh-you-should-use.git
[submodule "external/zsh-autosuggestions"]
	path = external/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "external/zsh-history-substring-search"]
	path = external/zsh-history-substring-search
	url = git@github.com:zsh-users/zsh-history-substring-search.git
[submodule "external/zsh-completions"]
	path = external/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
