snippet ir "import React from 'react'" b
import React from 'react'
endsnippet

snippet dp
${1:Component}.defaultProps = {
	$2: $3,
}
endsnippet

snippet pt "prop types" b
${1:Component}.propTypes = {
	$2: PropTypes.${3:type}
}
endsnippet

snippet prp "this.props.foo" i
	this.props.${1}
endsnippet

snippet ste "this.state.foo" i
	this.state.${1}
endsnippet

# vim:ft=snippets:
